@font-face {
  font-family: "Avenir Next";
  src: url("/Assets/_Global Font/AvenirNextProLT/");
}

body {
  font-family: "Avenir Next";
}

@media (min-width: 1440px) {
  .container {
    margin-left: 4%;
  }
  .container .video__title {
    font-size: 2.6rem;
    color: #323232;
    margin-bottom: 0;
    width: 95%;
  }
  .container .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .video__container .video__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 50%;
    margin-left: 3px;
  }
  .container .video__container .video__info .video__channel {
    color: #323232;
    margin-left: 1px;
  }
  .container .video__container .video__info .video__date {
    color: #AFAFAF;
    margin-left: 12px;
    font-weight: 500;
  }
  .container .video__container .video__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .video__container .video__stats .video__views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
  }
  .container .video__container .video__stats .video__views img {
    margin-right: 10%;
  }
  .container .video__container .video__stats .video__likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .video__container .video__stats .video__likes img {
    margin-right: 10%;
  }
  .container .video__description {
    border-top: 1px solid #E1E1E1;
    padding-top: 2%;
    width: 100%;
  }
  .container .video__description p {
    font-size: 0.9rem;
    color: #323232;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    margin-left: 4%;
  }
  .container .video__title {
    font-size: 2.5rem;
    color: #323232;
    margin-bottom: 0;
  }
  .container .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .video__container .video__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40%;
    margin-left: 3px;
  }
  .container .video__container .video__info .video__channel {
    color: #323232;
  }
  .container .video__container .video__info .video__date {
    color: #AFAFAF;
    margin-left: 12px;
    font-weight: 500;
  }
  .container .video__container .video__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .video__container .video__stats .video__views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
  }
  .container .video__container .video__stats .video__views img {
    margin-right: 10%;
  }
  .container .video__container .video__stats .video__likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .video__container .video__stats .video__likes img {
    margin-right: 10%;
  }
  .container .video__description {
    border-top: 1px solid #AFAFAF;
    padding-top: 4%;
    width: 95%;
  }
  .container .video__description p {
    font-size: 0.9rem;
    color: #323232;
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin-left: 4%;
  }
  .container .video__title {
    font-size: 1.5rem;
    color: #323232;
    margin-bottom: 0;
  }
  .container .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .video__container .video__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30%;
  }
  .container .video__container .video__info .video__channel {
    color: #323232;
  }
  .container .video__container .video__info .video__date {
    color: #AFAFAF;
    margin-left: 12px;
    font-weight: 500;
  }
  .container .video__container .video__stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .video__container .video__stats .video__views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10%;
  }
  .container .video__container .video__stats .video__views img {
    margin-right: 10%;
  }
  .container .video__container .video__stats .video__likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .video__container .video__stats .video__likes img {
    margin-right: 10%;
  }
  .container .video__description {
    border-top: 1px solid #AFAFAF;
    padding-top: 4%;
    width: 95%;
  }
  .container .video__description p {
    font-size: 0.9rem;
    color: #323232;
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */